.app-popover {
  border-radius: var(--radius-md);
  color: var(--color-text);
  gap: var(--space-3);
  grid-template-columns: 1fr auto;
  inset: auto;
  inset-block-start: var(--space-4);
  inset-inline: 0;
  margin: 0;
  margin-inline: auto;
  padding: var(--space-4);
  position: fixed;
}

.app-popover:popover-open {
  display: grid;
}

.app-popover::backdrop {
  background: transparent;
}
